//- mixins

//- end mixins

doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/css/canvas.css')   
    script(src='/scripts/canvas.js')
    script(src='/scripts/p5.js')
    script(src='/scripts/p5.dom.js')


  canvas#canvas