//- mixins

//- end mixins

doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/css/collection.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=VT323')
    script(src='/scripts/p5.js')
    script(src='/scripts/p5.dom.js')
    script(src='/scripts/p5Particles/b2.js')
    script(src='/scripts/p5Particles/box2d-html5.js')
    script(src='/scripts/p5Particles/p5.particle.js')
    body
      div(id='nav')
        select(id='dropDown')
          option wave
      iframe(src='/wave')
