doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/css/style.css')   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='/scripts/moveItem.js')
  body
   div(id='content')
     div(id='hero')
       img(src=sprite)
     div(id='name')
       h2!=message
