//- mixins

//- end mixins

doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/css/canvas.css')
    script(src='/scripts/press.js')
    script(src='/scripts/p5.js')
    script(src='/scripts/p5.dom.js')
    script(src='/scripts/p5Particles/b2.js')
    script(src='/scripts/p5Particles/box2d-html5.js')
    script(src='/scripts/p5Particles/p5.particle.js')
